@charset "utf-8";
/* CSS Document */
boby{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}



#Container{
	width: 1365px;
	height: 1851px;
	background-color: #F0F0F0;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

/*inicio de cabezera*/

header{
	height: 113px;
	width: 100%;
	background-color: #ffc600;
}

/*Boton inicio*/
#inicio{
	width: 193px;
	height: 42px;
	float: right;
	border-top: 3px solid #3d4b98;
	border-bottom: 3px solid #3d4b98;
	border-left: 3px solid #3d4b98;
	border-top-left-radius: 33px;
	border-bottom-left-radius: 33px;
	text-align: center;
	margin-top: 49px;
}
a #inicio{
	color: #3d4b98;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 22pt;
}
a #inicio:hover{
	color: #ffc600;
	background-color: #3d4b98;
}

/*Titulo*/
center{
	padding-top: 49px;
}
#titulo{
	background-color: #3d4b98;
	width: 611px;
	height: 127px;
	border-radius: 62px;
	padding-top: 20px;
}
#titulo h1{
	text-align: center;
	font-size: 27pt;
	color: #FFFFFF;
}

/*inicio de articulo*/

#informacion{
	height: 1291px;
	width: 100%;
}

#logo{
	float: right;
	padding-top: 129px;
	margin-right: 48px;
}
#informacion p{
	width: 881px;
	height: 1000px;
	margin-left: 84px;
	padding-top: 129px;
	text-align: justify;
	font-size: 17pt;
}


/*inicio de pie de pagina*/

#pie{
	background-color: #ffc600;
	width: 100%;
	height: 377px;
}

.items{
	padding-left: 330px;
	float: left;
	padding-top: 82px;
}
.items h3{
	font-size: 28pt;
	font-weight: bold;
}

#item1 dl dt{
	font-size: 16pt;
	font-weight: normal;
}

#item2 address{
	font-size: 14pt;
}


#copyright{
	background-color: #3d4b98;
	height: 86px;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	font-size: 20pt;
}
